@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

body {
    overflow-x: hidden;
    box-sizing: border-box;
}

.border-box {
    z-index: -1;
    position: fixed;
    top: 12px;
    right: 10px;
    left: 10px;
    bottom: 12px;
    background: none;
    border: .001mm solid #00FFC8;
    border-radius: 15px;
    border-width: .1px;
    background: url(../assets/noise.png);
}
.border-box a {
    /* background-color: red; */
    right: 0;
    position: absolute;
    top: 0;
    height: 3.5rem;
    width: 8rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 15px;
    border-Bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: .001mm solid #00FFC8;
    padding-top: .25rem;
    padding-left: 2.4rem;
    text-decoration: none;
    color: #BDFFF1;
    font-size: .8rem;
    font-family: 'Syncopate', sans-serif;
    font-weight: 600;
    background: linear-gradient(308.45deg, rgba(0, 255, 200, 0.4) -94.97%, rgba(0, 255, 200, 0) 70.06%);
}

.border-box a svg {
    width: 3rem;
    height: 3rem;
}

.border-box h1 {
    color: #BDFFF1;
    font-size: 10px;
    font-family: 'Syncopate', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 1.6rem;
    left: 4rem;
}

.border-box h1 i {
    margin-right: 6px;
    font-size: 5px;
    color: #00FFC8;
    margin-left: 7px;
}

.border-box img {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: .7rem;
    left: .7rem;
}

.hero {
    z-index: 999999999999999999;
    background-color: #181a1c;
    height: 100vh;
    width: 100%;
    background-image: url(../assets/page-bg-2--river.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow-x: scroll;
}

.hero-content h1 {
    color: #00FFC8;
    font-family: 'Syncopate', sans-serif;
    font-weight: 600;
    font-size: 25px;   
}

.hero-content h1 svg {
    width: 2rem;
    height: 2rem;
}

.hero-content h2 {
    color: #00FFC8;
    font-family: 'Syncopate', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.hero-content a {
    z-index: 99999999;
}

.card-1 {
    /* background-color: inherit; */
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    border-Bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: .001mm solid #00FFC8;
    height: 3.5rem;
    background: linear-gradient(308.45deg, rgba(0, 255, 200, 0.4) -94.97%, rgba(0, 255, 200, 0) 70.06%);
    margin-bottom: .8rem;
    display: flex;
    flex-direction: row;
    padding-top: .7rem;
    padding-left: 1rem;
    text-decoration: none;
}
.card {
    border: .001mm solid #00FFC8;
    height: 3.5rem;
    background: linear-gradient(308.45deg, rgba(0, 255, 200, 0.4) -94.97%, rgba(0, 255, 200, 0) 70.06%);
    border-radius: 0px;
    margin-bottom: .8rem;
    display: flex;
    flex-direction: row;
    padding-top: .7rem;
    padding-left: 1rem;
    text-decoration: none;
}
.card-3 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-Bottom-left-radius: 0px;
    border-bottom-right-radius: 15px;
    border: .001mm solid #00FFC8;
    height: 3.5rem;
    background: linear-gradient(308.45deg, rgba(0, 255, 200, 0.4) -94.97%, rgba(0, 255, 200, 0) 70.06%);
    margin-bottom: .8rem;
    display: flex;
    flex-direction: row;
    padding-top: .7rem;
    padding-left: 1rem;
    text-decoration: none;
}

.card-3 h3,
.card h3,
.card-1 h3 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 600;
    color: #BDFFF1;
    font-size: 12px;
    margin-top: .5rem;
    margin-left: 1rem;
}

.card-1 svg {
    width: 1.5rem;
    height: 1.5rem;
    color: #BDFFF1;
}

.card svg {
    width: 1.5rem;
    height: 1.5rem;
    color: #BDFFF1;
}

.card-3 svg {
    width: 1.5rem;
    height: 1.5rem;
    color: #BDFFF1;
}
    

@media screen and (max-width: 768px) {
    .border-box h1 {
        font-size: 6px;
    }
    .border-box h1 i {
        font-size: 3px;
        margin-right: 2px;
    }
}

@media screen and (min-width: 768px) {
    
}

@media (min-width:374px) and (max-width:376px) {
    
}

@media (min-width:413px) and (max-width:415px) {
    
}

